
body {
    font-family: 'Bitter', serif;
}
h1, h2, h3, h4, h5 {
    font-weight: 400;
}

.nav-item {
    padding-right: 2.5em;
    padding-top: 2em;
    .nav-link {
        padding-bottom: 0;
        border-bottom-width: 2.8px;
        &.active {
            border-color: #1565C0;
        }
    }

}


.nav {
    margin-bottom: 5em;
    --bs-nav-link-color: var(--bs-body-color);
    --bs-nav-link-disabled-color: var(--bs-body-color);
    --bs-nav-link-hover-color: var(--bs-body-color);
}

.nav-item h4 {
    margin-bottom: 0;
}

/* .nav-underline {} */