body {
    font-family: 'Bitter', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a.project {
    color: var(--bs-body-color);
    text-decoration: none;
}
a.project:link {
    text-decoration: none;
}
a.project:hover {
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 4px;
}

footer {
    text-align: center;
    padding: 5px;
    margin-top: auto;
}

footer a {
    color: var(--bs-body-color);
}
footer a:link {
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px;
  }
footer a:active {
    text-decoration: underline;
    }

.container {
    max-width: 1140px;
}

.nav-item {
    padding-right: 2.5em;
    padding-top: 2em;
    .nav-link {
        padding-bottom: 0;
        border-bottom-width: 2.8px;
    }
}

.nav {
    margin-bottom: 5em;
    --bs-nav-link-color: var(--bs-body-color);
    --bs-nav-link-disabled-color: var(--bs-body-color);
    --bs-nav-link-hover-color: var(--bs-body-color);
}

.nav-item h4 {
    margin-bottom: 0;
}

.images {
    display: flex;
    gap: 10px;
}